.progress-bar {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.texts {
  display: inline-block;
  width: 100%;
}

.bar-label {
  display: inline-block;
  float: left;
}
.bar-value {
  display: inline-block;
  float: right;
}

.bar {
  display: inline-block;
  width: 100%;
  height: 6px;
  background: lightgrey;
}
.progress {
  background: #03a9f4;
  /* width: 80%; */
  height: 6px;
}
